<h1> Welcome to Bustle News </h1>



<ul>
  {{#each model as |article|}}
     {{article-tile article=article}}
  {{/each}}
</ul>

<!-- {{new-article saveArticle2="saveArticle3"}} -->
{{#link-to 'administrator'}}Administrator {{/link-to}}
